@model ProjectBlog.Models.User

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login &amp; Registration forms in My Blog</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <style type="text/css"></style>
</head>
<body>
    <div class="container">
        <div id="signupbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">Registration</div>
                    <div style="float:right; font-size: 85%; position: relative; top:-10px"><a>@Html.ActionLink("Login", "Login")</a></div>
                </div>
                <div style="padding-top:30px" class="panel-body">
                    <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

                    @using (Html.BeginForm("Register", "Home", FormMethod.Post,
                    new { @id = "frmId", @class = "form-horizontal" }))
                    {
                        @Html.ValidationSummary(true)

                        <fieldset>
                            <legend>User</legend>
                            @Html.AntiForgeryToken()

                            <div class="form-group">
                                <label for="emailID" class="col-md-3 control-label">Email</label>
                                <div class="col-md-9">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
                                    @Html.ValidationMessageFor(model => model.Email)
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="username" class="col-md-3 control-label">User Name</label>
                                <div class="col-md-9">
                                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "Username" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="password" class="col-md-3 control-label">Password</label>
                                <div class="col-md-9">
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", id = "password", placeholder = "Password" })
                                    @Html.ValidationMessageFor(model => model.Password)
                                    <span></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="ConfirmPassword" class="col-md-3 control-label">Confirm Password</label>
                                <div class="col-md-9">
                                    <input type="Password" class="form-control" id="confirmpassword" placeholder="Confirm Password">
                                </div>
                            </div>

                            <br />

                            <div class="form-group">
                                <div class="col-md-offset-3 col-md-9">
                                    <input type="submit" class="btn btn-info" value="Create Account" />
                                </div>
                            </div>

                            @if (ViewBag.Message != null)
                            {
                                <div style="border:solid 1px green">
                                    @ViewBag.Message
                                </div>
                            }
                        </fieldset>
                    }
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $("#confirmpassword").on("keyup", function () {
                var password = $("#password").val();
                var confirmPassword = $("#confirmpassword").val();
                var passwordlength = $("#password").val().length;
                if (passwordlength >= 8) {
                    if (password == confirmPassword) {
                        $("span").text("Password matched");
                    } else {
                        $("span").text("Password not matched");
                    }
                }
            });
        });
    </script>
    <script src="~/Scripts/jquery-2.1.3.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript"></script>
</body>
</html>